{% extends "users/base.html" %}
{% block body %}

<div class="jumbotron">
    <h1 class="display-3">Super User Dashboard</h1>
    <hr class="my-2">
    
    <p class="lead">
        Supplier Profiles
    </p>
</div>

<div class="col-md-12">
    <div class="card" style="background-color:white">
        <div class="card-header card-header-primary">
        <h4 class="card-title ">Supplier Profiles</h4>
        </div>
    <div class="card-body">
        <div class="container-fluid">
            {% if suppliers %}
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead style="color:white; background:lightslategray">
                    <th style="color:white;">
                        Name
                       </th>
                       <th style="color:white;">
                         BPN
                       </th>
                       <th style="color:white;">
                          Phone 
                         </th>
                         <th style="color:white;">
                           Street 
                          </th>
                          <th style="color:white;"></th>
                   <tbody>
                       {% for supplier in suppliers %}
                       <tr>
                           <td>{{supplier.name}}</td>
                           <td>{{supplier.bpn}}</td>
                           <td>{{supplier.phone}}</td>
                           <td>{{supplier.street}}</td>
                        <td><a href="{% url 'users:supplier_user_create' supplier.id %}" class="btn btn-primary">view Supplier</a></td>
                    </tr>
                    {% endfor %}    
                </tbody>
                </table>
            {% else %}
            <p>Nothing To SHow</p>    
            {% endif %}
        </div>
    </div>
    </div>
    
</div>
{% endblock %}